<header class="p-4">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center justify-content-start gap-4">
      <a href="" class="nmc-dark-grey"
        ><i class="bi bi-search font-20 ms-5"></i
      ></a>

      <nav>
        <ul class="gap-2 d-flex">
          <li class="nav-item px-3 py-1 rounded-2 dropdown">
            <a href="" class="nmc-dark-grey font-14"
              >Apps
              <span class="text-xl ml-1 -mr-1 text-slate-500">
                <svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
              </span>

              <ul class="dropdown-menu nmc-bg-white">
                <div class="row m-0">
                  <div class="col-sm-8 p-0">
                    <div class="row g-4 p-4">
                      <div class="col-sm-6 app-links">
                        <a class="d-flex align-items-center" href="">
                          <figure
                            class="bg-sky-100 rounded-3 d-flex align-items-center justify-content-center m-0 p-3"
                          >
                            <img
                              class="w-100 h-100 object-fit-contain"
                              src="assets/images/icon-dd-chat.svg"
                            />
                          </figure>

                          <div class="ms-3">
                            <h5 class="font-16 nmc-dark-grey m-0">
                              Chat Application
                            </h5>

                            <span class="font-12 nmc-medium-grey"
                              >Messages &amp; Emails</span
                            >
                          </div></a
                        >
                      </div>

                      <div class="col-sm-6 app-links">
                        <a class="d-flex align-items-center" href="">
                          <figure
                            class="bg-sky-100 rounded-3 d-flex align-items-center justify-content-center m-0 p-3"
                          >
                            <img
                              class="w-100 h-100 object-fit-contain"
                              src="assets/images/icon-dd-chat.svg"
                            />
                          </figure>

                          <div class="ms-3">
                            <h5 class="font-16 nmc-dark-grey m-0">Todo App</h5>

                            <span class="font-12 nmc-medium-grey"
                              >Completed task</span
                            >
                          </div></a
                        >
                      </div>

                      <div class="col-sm-6 app-links">
                        <a class="d-flex align-items-center" href="">
                          <figure
                            class="bg-sky-100 rounded-3 d-flex align-items-center justify-content-center m-0 p-3"
                          >
                            <img
                              class="w-100 h-100 object-fit-contain"
                              src="assets/images/icon-dd-chat.svg"
                            />
                          </figure>

                          <div class="ms-3">
                            <h5 class="font-16 nmc-dark-grey m-0">
                              Invoice App
                            </h5>

                            <span class="font-12 nmc-medium-grey"
                              >Get latest invoice</span
                            >
                          </div></a
                        >
                      </div>

                      <div class="col-sm-6 app-links">
                        <a class="d-flex align-items-center" href="">
                          <figure
                            class="bg-sky-100 rounded-3 d-flex align-items-center justify-content-center m-0 p-3"
                          >
                            <img
                              class="w-100 h-100 object-fit-contain"
                              src="assets/images/icon-dd-chat.svg"
                            />
                          </figure>

                          <div class="ms-3">
                            <h5 class="font-16 nmc-dark-grey m-0">
                              Calendar App
                            </h5>

                            <span class="font-12 nmc-medium-grey"
                              >Get Dates</span
                            >
                          </div></a
                        >
                      </div>

                      <div class="col-sm-6 app-links">
                        <a class="d-flex align-items-center" href="">
                          <figure
                            class="bg-sky-100 rounded-3 d-flex align-items-center justify-content-center m-0 p-3"
                          >
                            <img
                              class="w-100 h-100 object-fit-contain"
                              src="assets/images/icon-dd-chat.svg"
                            />
                          </figure>

                          <div class="ms-3">
                            <h5 class="font-16 nmc-dark-grey m-0">
                              Contact Application
                            </h5>

                            <span class="font-12 nmc-medium-grey"
                              >2 Unsaved Contacts</span
                            >
                          </div></a
                        >
                      </div>

                      <div class="col-sm-6 app-links">
                        <a class="d-flex align-items-center" href="">
                          <figure
                            class="bg-sky-100 rounded-3 d-flex align-items-center justify-content-center m-0 p-3"
                          >
                            <img
                              class="w-100 h-100 object-fit-contain"
                              src="assets/images/icon-dd-chat.svg"
                            />
                          </figure>

                          <div class="ms-3">
                            <h5 class="font-16 nmc-dark-grey m-0">
                              Tickets App
                            </h5>

                            <span class="font-12 nmc-medium-grey"
                              >Create new ticket</span
                            >
                          </div></a
                        >
                      </div>

                      <div class="col-sm-6 app-links">
                        <a class="d-flex align-items-center" href="">
                          <figure
                            class="bg-sky-100 rounded-3 d-flex align-items-center justify-content-center m-0 p-3"
                          >
                            <img
                              class="w-100 h-100 object-fit-contain"
                              src="assets/images/icon-dd-chat.svg"
                            />
                          </figure>

                          <div class="ms-3">
                            <h5 class="font-16 nmc-dark-grey m-0">Email App</h5>

                            <span class="font-12 nmc-medium-grey"
                              >Get new emails</span
                            >
                          </div></a
                        >
                      </div>

                      <div class="col-sm-6 app-links">
                        <a class="d-flex align-items-center" href="">
                          <figure
                            class="bg-sky-100 rounded-3 d-flex align-items-center justify-content-center m-0 p-3"
                          >
                            <img
                              class="w-100 h-100 object-fit-contain"
                              src="assets/images/icon-dd-chat.svg"
                            />
                          </figure>

                          <div class="ms-3">
                            <h5 class="font-16 nmc-dark-grey m-0">Courses</h5>

                            <span class="font-12 nmc-medium-grey"
                              >Create new course</span
                            >
                          </div></a
                        >
                      </div>
                    </div>

                    <div
                      class="faq d-flex align-items-center justify-content-between p-4"
                    >
                      <h5 class="font-18 fw-regular">
                        <i class="bi bi-info-circle me-3"></i>Frequently Asked
                        Questions
                      </h5>

                      <button class="nmc-btn-primary box-shadow-none py-1 px-3">
                        Check
                      </button>
                    </div>
                  </div>

                  <div class="quick-link col-sm-4 p-4">
                    <h5 class="font-family-poppins mb-4">Quick Links</h5>
                    <ul>
                      <li class="mt-2">
                        <a href="" class="nmc-dark-grey font-16"
                          >Pricing Page</a
                        >
                      </li>

                      <li class="mt-2">
                        <a href="" class="nmc-dark-grey font-16"
                          >Authentication Design</a
                        >
                      </li>

                      <li class="mt-2">
                        <a href="" class="nmc-dark-grey font-16"
                          >Register Now</a
                        >
                      </li>

                      <li class="mt-2">
                        <a href="" class="nmc-dark-grey font-16"
                          >404 Error Page</a
                        >
                      </li>

                      <li class="mt-2">
                        <a href="" class="nmc-dark-grey font-16">Notes App</a>
                      </li>

                      <li class="mt-2">
                        <a href="" class="nmc-dark-grey font-16"
                          >Employee App</a
                        >
                      </li>

                      <li class="mt-2">
                        <a href="" class="nmc-dark-grey font-16"
                          >Todo Application</a
                        >
                      </li>

                      <li class="mt-2">
                        <a href="" class="nmc-dark-grey font-16">Treeview</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </ul>
            </a>
          </li>

          <li class="nav-item px-3 py-1 rounded-2">
            <a href="" class="nmc-dark-grey font-14">Chat</a>
          </li>

          <li class="nav-item px-3 py-1 rounded-2">
            <a href="" class="nmc-dark-grey font-14">Calendar</a>
          </li>

          <li class="nav-item px-3 py-1 rounded-2">
            <a href="" class="nmc-dark-grey font-14">Email</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="d-flex align-items-center justify-content-end gap-4">
      <div class="rounded-circle overflow-hidden m-0 p-0 map">
        <img
          class="w-100 h-100 object-fit-contain"
          src="public/icon-flag-en.svg"
          alt=""
        />
      </div>

      <div>
        <i class="bi bi-bell font-20"></i>
      </div>

      <div class="rounded-circle overflow-hidden m-0 p-0 profile">
        <img
          class="w-100 h-100 object-fit-contain"
          src="public/user-1.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</header>
